DATABASE_URL="mysql://root:StrongPass123!@127.0.0.1:3306/khybershawls"
JWT_SECRET="replace-with-long-random-secret"
ADMIN_EMAILS="atifjan2019@gmail.com"
NEXT_PUBLIC_BASE_URL="https://khybershawls.store"
INDEXNOW_KEY="f62ac64736457788c87fd04cf940e4cd"

ELASTIC_EMAIL_USER="mail@webspires.co.uk"
ELASTIC_EMAIL_PASSWORD="285DC040B9E83DCDED5FCEC7A6B079919FE3664B3462758AFA099B14BF509DF916CFC8CEE50EBB46B806539A63434E0B"
MAIL_FROM="mail@webspires.co.uk"
